.app-wrapper {
  width: 1440px;
  margin: 0 auto;
  padding: 5px 10px;
  background-color: rgba(211, 211, 211, 0.08);
  display: grid;
  grid-template-areas: "h h" "n c";
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
}