.container {
    display: flex;
}

.dialogs {
    padding: 0 0 0 10px;
    flex: 1 1 20%;
    line-height: 30px;
}

.messages {
    padding: 20px 10px 10px 20px;
    display: flex;
    flex-direction: column;
    flex: 1 1 80%;
    line-height: 30px;
    border-left: 1px solid antiquewhite;
}

.message {
    width: 300px;
    margin: 2px 0;
    padding: 10px 10px;
    align-self: end;
    background-color: white;
    border: 1px solid gray;
    border-radius: 10px 10px 0 10px;
}

.myMessage {
    width: 300px;
    margin: 2px 0;
    padding: 10px 10px;
    background-color: lightgray;
    border: 1px solid gray;
    border-radius: 10px 10px 10px 0;
}

.form {
    padding: 0 0 10px 5px;
    display: flex;
}

.textarea {
    font-size: 14px;
    border: 2px solid #0f583d;
    border-radius: 10px;
}

.textarea:focus {
    outline: 0;
    border: 2px solid #092f21;
}

.button {
    margin: 0 0 0 5px;
    padding: 0 15px;
    background-color: #0f583d;
    border-style: none;
    border-radius: 10px;
    font-size: 14px;
    font-weight: 700;
    color: white;
}

.button:active {
    background-color: #092f21;
}